<h2><%= director.firstName %> <%= director.lastName %> </h2>
<a href="/directors/<%= director.id %>/edit">Edit</a>
<%- include('../partials/deleteForm',
            {url: `/directors/${director.id}` }) %> 

<% if(moviesByDirector.length > 0) { %> 
    <h2> Movies by Director</h2>
    <% moviesByDirector.forEach(movie => { %>
        <img height="150" width="100" src="<%=movie.posterImagePath%>" >
        <p><%=movie.title%></p>
        <p><%=movie.releaseDate%></p>
     <% }) %>
<%}%>